

.hide-scrollbar {
    overflow: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.hide-scrollbar {
    -ms-overflow-style: none;
}

.hide-scrollbar {
    scrollbar-width: none;
}