html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    background: url('../../assets/loginBackground.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    overflow: hidden;
}

.login {
    width: 50vw;
    margin: auto;
    background: rgba(53,57,63,255);
    text-align: left;
    border-radius: 3px;
    padding: 40px;
}

.login .form-control {
    background-color: rgba(32,34,37,255);
}