.friends-title {
  color: var(--grey);
  font-size: 1.4rem;
}

.friends-link {
  text-decoration: none;
}

.friends-icon {
  margin-right: 1.4rem;
}

.direct-message {
  color: var(--grey);
  font-size: 1.2rem;
}

.plus-icon {
  color: var(--grey);
}

.friends-button {
  font-size: 19px !important;
}
