.home {
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.row {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.servers {
    background-color: var(--main-color);
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 85px;
}

.friends-channels {
    background-color: var(--channel-column-color);
    width: 240px;
    padding: 0;
}

.content {
    background-color: var(--secondary-color);
    padding: 0;
}

.vertical-line {
    border-left: 7px solid white;
    border-radius: 50%;
    height: 10px;

}

.nav-row:hover .vertical-line {
    height: 25px;
}

.nav-link {
    width: 48px;
    height: 48px;
    border-radius: 50%;

    font-size: 18px;
    background-color: var(--secondary-color);

    display: flex;
    align-items: center;
    justify-content: center;
}


.sideNav {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.linebreak {
    height: 3px;
    width: 32px;
    border-radius: 1px;
    background-color: var(--secondary-color);
}

.discord-icon {
    width: 26px !important;
}

.nav-row {
    display: flex;
    align-items: center;
}

